<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>카테고리 등록</title>
</head>

<body>
    <h1>새 카테고리 등록</h1>
    <form th:action="@{/categories/create}" th:object="${categoryForm}" method="post">
        <div>
            <input type="text" th:field="*{name}" placeholder="카테고리 이름을 입력하세요" />
            <span th:errors="*{name}" style="color:red"></span>
        </div>
        <button type="submit">등록</button>
    </form>
    <p
        th:text="${'실습 수행: ' + #temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss') + ' | 학번:  2271439 | 이름: 조영석'}">
    </p>
</body>

</html>